:root{
  --veryDarkGray:hsl(0, 0%, 17%);
  --darkGray:hsl(0, 0%, 59%);
}

#root{
  font-family: 'Rubik', sans-serif;
  font-size:18px;
}

#ipmap{
  width:100%;
  height: 100vh;
}

#mapid { height: 180px; }

.leaflet-container {
  width: 100%;
  height: 100vh;
}


.attribution { font-size: 12px; text-align: center; }


